.wrapper {
    display: flex;
    justify-content: center;
}

.action {
    padding: 0;
    border: none;
    transform-origin: center;
    font-family: 'Gochi Hand', cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 hsl(198, 1%, 29%);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #00ffc3b3;
    margin-left: 8px;
    cursor: pointer;
    width: 80px;
    margin-bottom: 10px;

    &-item {
        background: #f1f5f8;
        display: block;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        font-size: 1.4rem;
        border: 2px solid #65283e;


        &:hover {
            transform: translateY(1px);
            padding-bottom: 2px;
            opacity: 0.9;
        }
    }
}