.list {
    list-style: none;
    text-align: left;
}

.item {

    color: #666666;

    & span {
        font-size: 1.4rem;
        transition: all linear 0.125s;

        &:hover {
            color: #1976D5;
        }

    }
}