.wrapper {
    background-color: var(--white);
    margin-top: 8px;
}

.inner {
    width: 1200px;
    max-width: 100%;
    padding: 24px;
    margin: 0 auto;

}

.content {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 170px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.contact {
    text-align: left;

    &-list {
        list-style: none;
    }

    &-item {
        color: #666666;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
    }

    &-icon {
        margin-right: 10px;
    }

    &-title {
        text-align: left;
        font-size: 1.6rem;
        color: #666666;
        margin-bottom: 5px;
        font-weight: 500;
    }
}

.link {

    &-list {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
    }

    &-title {
        text-align: left;
        font-size: 1.6rem;
        color: #666666;
        margin-bottom: 5px;
        font-weight: 500;
    }
}

.pay {

    &-list {
        list-style: none;
        display: flex;
        gap: 8px;
        margin-top: 10px;

    }

    &-title {
        text-align: left;
        font-size: 1.6rem;
        color: #666666;
        margin-bottom: 5px;
        font-weight: 500;
    }
}